* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1,
h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

body {
  height: 100vw;
  background-color: #b91450;
}

label {
  text-align: center;
  margin-bottom: 16px;
}

input {
  border: 1px solid #b91450;
  border-radius: 5px;
  padding: 4px;
}

select {
  padding: 4px;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 80px 40px;
}

.form {
  background-color: white;
  border-radius: 24px;
  padding: 24px 96px;
  color: #b91450;
}

.form__row {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.form__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc((100% - 80px) / 3);
}

.buttons-box {
  display: flex;
  gap: 16px;
  justify-content: center;
}
