* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1,
h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

body {
  height: 100vw;
  background-color: #b91450;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 80px 40px;
}

.form {
  background-color: white;
  display: flex;
}

.form__col {
  display: flex;
  flex-direction: column;
}
